@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --primary: hsl(287 60% 65%);
    --primary-op: hsl(287 60% 65% / 0.1);
    --primary-shadow: hsl(287 60% 65% / 0.5);
    --gray: hsl(219 14% 71%);
    --gray-op: hsl(219 14% 71% / 0.1);
    --background: hsl(218 12% 18%);
    --white: hsl(0 0% 100%);
    --testing: rgb(33, 61, 61);
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--background);
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    text-align: justify;
    font-size: 1rem;
    width: 100%;
}

span {
    color: var(--primary);
}

header {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    background-color: var(--background);
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    border: none;
}

header .inner {
    width: 1024px;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .inner .name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    height: 100%;
}

header .inner nav {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.page-content {
    top: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap: 64px;
    /* background-color: var(--testing); */
}

.overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.overview div {
    flex: 1;
    display: flex;
}

.overview .left {
    height: 400px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.overview .left h1 {
    font-size: 32px;
    font-weight: 600;
}

.overview .left p {
    color: var(--gray);
}

.overview .right {
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

#wesley-img {
    width: 100%;
    box-sizing: border-box;
    padding: 32px 0 32px 32px;
}

.button:hover {
    background-color: var(--primary-op);
}

.button {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid var(--primary);
    font-weight: 500;
    font-style: italic;
    width: fit-content;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: var(--gray);
}
  
.nav-link.active {
    color: var(--white);
    font-weight: 600;
}

.nav-link:hover {
    color: var(--white);
}

.quote-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    border: 1px solid var(--gray);
    position: relative;
    margin: 0;
    margin-bottom: 60px;
    width: fit-content;
}

.quote::before {
    top: -28px;
    left: 16px;
}

.quote::after {
    bottom: -60px;
    right: 16px;
}
.quote::before, .quote::after {
    content: '"';
    position: absolute;
    color: var(--gray);
    font-size: 64px;
    font-weight: 700;
    background-image: linear-gradient(var(--background), var(--background));
    background-size: 100% 40%;
    background-repeat: no-repeat;
}

.quote__text {
    padding: 32px;
    font-size: 24px;
    font-weight: 500;
    background-color: var(--background);
}

.quote__author {
    position: absolute;
    color: var(--gray);
    border: 1px solid var(--gray);
    padding: 12px;
    right: -1px;
    font-size: 16px;
}

.projects__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.h2 {
    font-size: 32px;
    font-weight: 500;
    position: relative;
    float: none;
    clear: both;
    display: inline-block;
}

.h2::before {
    content: "#";
    color: var(--primary);
}

.h2::after {
    content: "";
    display: block;
    width: 10vw;
    height: 2px;
    background-color: var(--primary);
    position: absolute;
    transform: translate(100%, -50%);
    right: -16px;
    top: 50%;
}

.projects__link {
    text-decoration: underline;
}

.project-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    align-items: start;
    margin-top: 24px;
}

.project {
    border: 1px solid var(--gray);
}

.project__image {
    border-bottom: 1px solid var(--gray);
    aspect-ratio: 16 / 9;
}

img, picture {
    max-width: 100%;
    display: block;
}

.project__techs {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
    color: var(--gray);
    padding: 8px;
    border-bottom: 1px solid var(--gray);
}

.project__tech {
    padding: 2px 4px;
    box-shadow: 1px 1px 2px 1px var(--primary-shadow);
}

ul {
    list-style: none;
}

.project__content {
    padding: 16px;
}

.project__name {
    text-align: start;
    font-size: 24px;
    font-weight: 500;
}

.project__description {
    color: var(--gray);
    margin: 16px 0;
}

.project__links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.skills__content {
    display: flex;
    margin: 24px 0;
    margin-bottom: 0;
    height: 320px;
    justify-content: space-between;
    gap: 24px;
}


.skills__list {
    display: flex;
    width: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 16px;
    height: 100%;
}

.skill-block {
    border: 1px solid var(--gray);
    display: inline-block;
    height: fit-content;
    width: 210px;
}

.skill-block__name {
    font-weight: 600;
    padding: 8px 12px;
    border-bottom: 1px solid var(--gray);
}

.skill-block__list {
    padding: 8px 12px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    color: var(--gray);
}

#skills-img {
    height: 100%;
    padding: 24px;
    padding-left: 0;
}

.skill-img-container {
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 0;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-me-details {
    flex: 1;
}

.about__text {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__description {
    color: var(--gray);
}

.about-me-img-container {
    max-height: 80%;
    width: 45%;
    padding-left: 10%;
}

.about-me-btn {
    margin-top: 16px;
}

.about-me-img {
    width: 100%;
    border-radius: 48px;
    object-fit: cover;
}

footer {
    top: 120px;
    position: relative;
    margin-top: 60px;
    max-width: inherit;
    width: 100%;
    border-top: 1px solid var(--gray);
    padding: 16px 0;
    text-align: center;
}

.path {
    display: block;
    width: 100%;
    margin-bottom: 96px;
}

h1 {
    font-size: 32px;
}

.path__name {
    font-weight: 600;
}

.path__name::before {
    content: "/";
    color: var(--primary);
}

.path__description {
    color: var(--gray);
    margin-top: 16px;
}

.all-projects {
    margin: 64px 0;
}

.small-projects {
    grid-template-columns: repeat(4, 1fr);
}

.about-me-contents {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.audio-card {
    border: 1px solid var(--primary);
    padding: 12px 32px;
    border-radius: 16px;
    margin-bottom: 12px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.audio-card h3 {
    font-weight: 400;
    min-width: 45%;
    text-align: left;
}

.audio-player {
    flex: 1;
}

.play-pause-btn-container {
    background-color: var(--primary);
    border-radius: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
}

.play-pause-btn {
    color: var(--white);
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 12px;
    height: 48px;
    width: 48px;
}

.producer-info {
    padding-left: 0;
    padding-right: 10%;
}

.facts-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
    /* border: 1px solid var(--gray); */
    border-radius: 12px;
    padding: 8px;
    flex: 0;
    width: fit-content;
    justify-content: start;
}

.fact {
    color: var(--gray);
    max-width: fit-content;
    padding: 4px 8px;
    border: 1px solid var(--primary);
    border-radius: 4px;
}

.progress-bar {
    flex: 1;
}

.input-progress-bar {
    width: 100%;
    height: 8px;
}

.volume-bar {
    flex: 0.5;
}

.input-volume-bar {
    width: 100%;
    height: 4px;
}


/* responsive */

.container {
    width: 1024px;
}


/* 1050px */
@media (max-width: 1050px) {
    header .inner {
        width: 100%;
        height: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

    .container {
        width: 800px;
    }

    .skills__content {
        justify-content: center;
    }

    .skill-img-container {
        display: none;
    }

    .fact-img-container {
        padding-left: 5%;
        width: 35%;
    }
}

/* 820px */
@media (max-width: 820px) {
    h1, .h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
        text-wrap: wrap;
    }

    .project__name {
        font-size: 2.8vw;
    }

    .overview {
        gap: 2vw;
    }

    .overview .left {
        justify-content: center;
        gap: 3vh;
    }

    .overview .left h1 {
        font-size: 3vw;
    }

    header .inner {
        width: 100%;
        height: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

    .container {
        width: 100%;
        padding: 0 16px;
    }

    .project-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-me-img-container {
        width: 45%;
        min-width: 240px;
        padding-left: 16px;
    }

    .producer-info {
        padding-left: 0;
        padding-right: 16px;
    }

    .fact-img-container {
        padding-left: 12px;
        width: 35%;
    }

    .quote__text {
        padding: 16px;
        font-size: 14px;
    }

    .quote::before, .quote::after {
        display: none;
    }

    .quote__author {
        padding: 8px;
        font-size: 12px;
    }
}

/* 690px */
@media (max-width: 690px) {
    .skills__content {
        height: 440px;
    }
}

/* 640px */
@media (max-width: 640px) {
    html {
        font-size: 16px;
    }

    .overview .left h1 {
        font-size: 20px;
    }

    .overview .left p {
        font-size: 14px;
    }

    h3 {
        font-size: 14px;
    }

    header .inner {
        padding-top: 20px;
        padding-bottom: 12px;
    }

    .overview .left {
        height: fit-content;
    }

    .page-content {
        gap: 5vh;
    }

    .play-pause-btn {
        font-size: 2.5vw;
        padding: 4px;
        height: 6vw;
        width: 6vw;
    }

    /* hamburger menu */
    .hamburger-menu {
        display: block;
    }

    header .inner nav {
        display: none;
    }

    #wesley-img {
        padding: 12px 0 12px 12px;
        min-width: 150px;
    }
}

/* 550px */
@media (max-width: 550px) {
    #getinfo-btn {
        font-size: 14px;
    }

    .overview .left h1 {
        font-size: 18px;
    }

    .overview .left p {
        font-size: 16px;
    }

    h3 {
        font-size: 12px;
    }

    .menu {
        border-bottom-left-radius: 12px;
    }

    .page-content {
        top: 80px;
    }

    .quote__text {
        padding: 8px;
        font-size: 14px;
    }

    .quote__author {
        padding: 6px;
    }

    .button {
        padding: 4px 8px;
        font-size: 16px;
    }

    .path {
        margin-bottom: 40px;
    }

    .about-me-contents {
        gap: 32px;
    }

    .about__text {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .about-me-facts {
        flex-direction: column;
    }

    .facts-container {
        flex-direction: row;
        gap: 4px;
        padding: 0;
        flex: 0;
    }

    .fact-img-container {
        padding-left: 0;
        width: 35%;
    }

    .audio-card {
        padding: 6px 16px;
        border-radius: 16px;
        margin-bottom: 6px;
        gap: 2vw;
    }

    .volume-bar label {
        font-size: 12px;
    }

    .input-progress-bar {
        width: 100%;
        height: 4px;
    }

    .input-volume-bar {
        width: 100%;
        height: 2px;
    }

    footer {
        margin-top: 2vh;
    }

    .skills__content {
        height: max-content;
    }

    .skills__list,
    .skill-block {
        width: 100%;
    }

    .project-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-me-img-container {
        padding: 0;
    }

    .about-me {
        gap: 2vh;
    }

    #about-0, #about-1 {
        flex-direction: column;
    }

    #about-2 {
        flex-direction: column-reverse;
    }
}

@media (max-width: 400px) {
    .hamburger-icon {
        font-size: 36px;
    }

    .overview {
        flex-direction: column;
        gap: 16px;
    }

    .overview .left {
        margin-top: 2vh;
    }

    #wesley-img {
        padding: 12px 40px;
    }

    .menu {
        width: 36vw;
    }

    .audio-card {
        padding: 6px 6px;
    }

    .progress-bar {
        /* flex: 0; */
        min-width: 72px;
    }

    .volume-bar {
        flex: 0;
        min-width: 50px;
    }

    .audio-card h3 {
        min-width: 0;
        width: 120px;
    }

    .projects__link {
        font-size: 14px;
    }
}